body {
    margin:0;
}

table {
    border-collapse: collapse;

    margin: 20px;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  caption {
    caption-side: bottom;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
  }

.headcol{
    background-color: rgb(75, 74, 74);
    color : #fff;
    text-align: center;
}

thead {
    background-color: black;
    color:#fff;
}

tr:nth-child(even) {
    background-color: rgba(58, 109, 58, 0.25);
  }