@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Koh+Santepheap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@700&family=Montserrat+Alternates&display=swap");

:root {
  --primary-color: #2a9d8f;
  --secondary-color: #264653;
  /* cambio #2B2146*/
  --accent1-color: #f4a261;
  --accent2-color: #e76f51;
  --body-background-color: #fff;
  /* --paragraph-font: "Koh+Santepheap", sans-serif; */
  --paragraph-font: "Montserrat", "Koh-Santepheap", sans-serif;

  /* menu mobile*/
  --menu-text-color: #f4a261;
  --menu-background: rgb(39, 71, 84);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box;     para laFORMA */   
}

h1 {
  color: var(--secondary-color);
}

h2 {
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  color: #fff;
  text-align: left;
  margin: 0.5rem;
}

/* just a wayfinding symbol for the user */
#map::before {
  content: "📍 ";
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  color: #fff;
}

.navigation ul {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 1rem;
  color: #fff;
  background-color: var(--accent1-color);
}

.navigation a {
  display: none;
  padding: 1rem 1.4rem 1rem 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

/* ****************************************** */
/* My code to custom site */

header {
  font-family: var(--heading-font);
  /* background-color: var(--accent1-color); */
  text-align: right;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 3rem;
}

body {
  display: grid;
  grid-template: auto 1fr auto / repeat(20, 1fr);
  background-color: var(--body-background-color);
  margin-top: 0px;
  padding: 0;
}

.navigation {
  grid-column: 6/16;
}

main {
  grid-column: 1/21;
  text-align: center;
}

header {
  grid-column: 1/21;
  background-color: var(--accent1-color);
}

p {
  margin: 5px;
  font-size: clamp(0.9rem, 1vw, 2rem);
  font-family: var(--paragraph-font);
  text-align: center;
  line-height: 1.5;
  color : #264653;;
}
.card p {
  color: #fff;
}

footer {
  grid-column: 1/21;
  background-color: var(--accent1-color);
}


footer p span last {
  padding: 10px;
  margin: 5px auto;
  color: #fff;
}

header {
  grid-column: 1/21;
  background-color: var(--accent1-color);
}

.wellcome {
  /* background-color: pink; */
  margin :0 auto;
  width: 75%;
  max-width: fit-content;
  padding :10px;
}


.card {
  text-align: center;
  font-family: var(--paragraph-font);
  height: 250px;
  background-color:  rgba(39, 71, 84, 0.65);
  margin: 20px;
  color: var(--secondary-color);
  padding: 20px 10px 10px;
  box-shadow: 3px 3px 20px rgba(39, 71, 84, 0.95);
  border-radius: 32px;
  border: 3px  var(--secondary-color) solid;
}

.section-cards {
  margin: 20px;
}

.section-cards h2 {
  font-size: clamp(0.6rem, 2.4vw, 1.3rem);
}

.section-cards p {
  font-size: clamp(0.7rem, 2.4vw, 1rem);
  text-align: left;
}

#mode {
  position: absolute;
  top: 3rem;
  right: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

#databox {
  padding: 15px;
  /* margin: 50px; */
  background-color: var(--secondary-color);
  color: #fff;
  border-radius: 5px;

}

/* ************************************************************* */



/*   **********   Joing us ********** */
#newMember {
  white-space: pre-line;
}

#wellcome, #p-information {
  margin: 0 auto;;
  position: relative;
  width : 80%;
  
}

.registration {
  color : #264653;
  margin: 0 auto;;
  position: relative;

  padding: 30px;;
}


#container-cards p {
  color :#fff;
  }

/* ****************************************************** */
/* discover */
.sidebar {
  text-align: right;
  display: flex;
  /* width: 400px; */
  margin: 0 auto;
  height: auto;
}

.card-barside {
  background-color: #264653;
  height: 200px;
  color: #fff;

  padding: 20px 10px 10px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.65);
  border-radius: 32px;
  border: 1px #c2c2c2 solid;
  padding :10px;
  height: auto;

}

.laziImages {
  /* width: 10%; */
  margin: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
}

#message {
  margin-top: 10px;
  font-family: var(--paragraph-font);
  font-style: italic;
  color: var(--accent2-color);
}

/* ****************************************************** * /
/* hero image */

#first-section {
   width: 100%;
   max-width: 900px;
   margin: 0 auto;
}
.hero-container {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%; /* Adjust the width as needed */
  height: auto;
  max-width: 100%;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; /* Text color */
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Optional */

  color: #e0751d;
  white-space: pre-line;
  border-radius: 10px;
  z-index: 0;
  font-weight: bold;
  font-size: 2rem;
}





      /* ***********   FORM   ************** */


main form {
  /* padding-top: 3rem; */
  /* z-index: -3; */
  margin: 0 auto;;
  position: relative;
  width : 80%;
}

fieldset {

  border: 1px solid  #f4a261;
  margin: 2rem 0;
  padding: .5rem 2%;
  border-radius:  18px;
  background-color: #fff;
}

form legend {
  color:#f4a261;
  margin: 0 1rem;
  padding: 0 .5rem;

}

form  input, label , textarea{
  display: block;
  font-size:  .8rem;
  border: solid 1px #f4a261;
  border-radius: 4px;
  padding: .75rem ;
  color: #555;
  width: 90%;
  max-width: 20rem;
  background-color: rgba(110, 101, 81, 0.1);
}




form  label.info{
  background-color: #fff;
  border: 0;
}

form label.info  input:required {
  border-left:  #e76f51 solid 6px;
}

form label.info  input:required:valid {
  border-left: green solid 6px;
}

form input.submitBtn {
  border:none;
  background-color:  #264653;
  color:white;
  border-radius: 1rem;
  padding:  .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 18rem;
}

    /*    DIRECTORY LIST and GRID      */


#displayOptIcons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
       margin : 0 auto; 
}
#directoryBody {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(29, 25, 86);
  border: 0px solid #163384;
  box-shadow: 5px 5px 10px #6f7364;
  margin: 0 auto;
  padding: 0;
}

#directoryContainer {

  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0px solid #e1c693;
  box-shadow: 5px 5px 10px #6f7364;

  padding: 0;

} 
#directoryCards{
  font-size: .8rem ;
   display: grid;
  align-items: center;
  justify-content: center;
  padding: 10px;
}   
#grid, #list {
  width : 40px;
  height: 40px;
}   

#directoryContainer section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #bd850d;
  margin: 5px auto;
  padding: 40px;
  width: auto;
  background-color: #e1c693;


  width: 300px;
  height: auto;
  border-radius: 5%;
  border: 0px solid #ccc;
  box-shadow: 0 0 40px #2e2c2c;
  padding: 10px;


}

#weather div ol li{
  color:#fff;
  font-size: .5rem ;
}

/* ***************************************************   */
