/* large view navigation ************************************/
@media (min-width: 37.5em) {
  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #menu {
    display: none;
  }

  nav {
    max-width: 900px;
    margin: 0.7rem auto;
  }

  .navigation ul {
    margin: 0rem auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  /* ****************************************** */
  /* My code to custom site */

  h1 {
    font-family: times, serif;
    /* font-size:clamp(.5rem, 2vw , 1.3rem); */
    font-size: 1.3rem;
    margin-left: 1.5rem;
    position: absolute;
    top: 0rem;
    left: 10rem;
  }

  footer {
    margin: 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }

  li {
    font-size: 1.4rem;
  }

  #map {
    text-align: center;
    height: 250px;
    width: 50%;
  }

  #mapdiv {
    text-align: center;
  }

  #lastModified {
    font-weight: bold;
    font-size: 1em;
  }

  #logo {
    width: 120px;
    height: 96px;
    position: absolute;
    top: 5px;
    left: 3rem;
  }

  .section-cards {
    width: 70%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }

  .spotlight {
    text-align: center;
    font-family: var(--paragraph-font);
    height: auto;
    background-color: #fff;
    color:  rgba(39, 71, 84, 0.65);
    box-shadow: 3px 3px 20px rgba(39, 71, 84, 0.95);
    border-radius: 32px;
    border: 3px  var(--secondary-color) solid;
    margin : 0 auto;
    padding: 10px;
    margin-top: 20px;
    
 

  }


  .spotlight p{
    padding :3px;
  }
  .section-spotlight {
    width: 80%;
    margin:0 auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  }

.spotlight img{
    margin: 0 auto;
    height: auto;
    border-radius: 5px;
    border: 3px solid  #aa7b57;  
    box-shadow: 0 0 50px #333;
    padding: 5px;
  }


  .section-footer {
    width: 90%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }

  .card p {
    letter-spacing: 1.3px;
     margin : 0 auto;
     width: 100%;
     height: auto;
  }

  footer p {
    font-size: 1rem;
  }

  #becomeamember {
    background-color: var(--secondary-color);
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0rem;
  }

  #youtube,
  #twitter,
  #facebook {
    width: 2rem;
    height: 2rem;
    justify-content: space-between;
  }

  #media {
    display: flex;
    height: 50px;
    /* padding: 5px; */
    position: absolute;
    top: 0px;
    bottom: 5px;
    right: 15rem;
  }

  
  #spotlights {
    color: var(--secondary-color);
  }

  /* ************************************************************* */
  /* DISCOVER */

  .sidebar {
    width: 90%;
    display: flex;

    justify-content: center;
  }
 
  #container-cards {
    margin: 15px;
    margin-top: 70px;
    width: 20%;
    /* margin-left: auto; */
    justify-content: center;
    align-items: center;
    
  }

  #container-images {
    margin-top: 15px;
    width: 80%;
    background-color: var(--body-background-color);

    margin-bottom: 15px;
    text-align: center;
  }
  #container-images p {

  }

  #container-images picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .laziImages {
    margin: 60px;
    margin-bottom: 60px;
    width: 420px;
    animation: fade 8s;

    border: 5px solid var(--accent1-color);
  }

  .laziImages:hover {
    box-shadow: 0 0 50px #333;
  }

  main {
    text-align: center;


  }


  .card-barside h2 {
    font-size: 1.4rem;
  }

  .card-barside h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .card-barside p {
    font-size: 0.9rem;
  }
  /* ************************************************************* */


  /* 3 columns in main */
  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card {
    margin: 40px auto;
    padding: 15px;
    text-align: center;
    font-family: var(--paragraph-font);
    font-size: 1.7ex;
    height: auto;
    width: 280px;
    max-width: 350px ;
  }
  /* .card p {
    font-size: .9rem;
  } */

  ul {
    text-decoration: none;
    list-style-type: none;
  }
  #all {
    margin: 0 auto;
  }



  
}
