/* large view navigation ************************************/
@media (min-width: 37.5em) {

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #menu {
    display: none;
    /* hide hamburger button */
  }

  nav {
    max-width: 900px;
    margin: 0.7rem auto;
  }

  .navigation ul {
    margin: 0rem auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  /* ****************************************** */
  /* My code to custom site */

  h1 {
    /* grid-column: 2/6; */
    /* text-align: left; */
    font-family: times, serif;
    /* font-size:clamp(.5rem, 2vw , 1.3rem); */
    font-size :1.3rem;
    margin-left: 1.5rem;
    position: absolute;
    top:0rem;
    left:10rem
    

  }

  footer {
    margin: 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }

  li {
    font-size: 1.3rem;
  }

  #map {
    text-align: center;
    height: 250px;
    width: 50%;
  }

  #mapdiv {
    text-align: center;
  }

  #lastModified {
    font-weight: bold;
    font-size: 1em;
  }

  #logo {
    width: 120px;
    height: 96px;
    position: absolute;
    top: 5px;
    left: 3rem;
  }
  .section-cards {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */

  }

  .section-member {
    width: 100%;
    display: grid;
    /* grid-column: 6/16; */
    grid-template-columns: repeat(3, 1fr);
    /* gap: 20px; */
    /* Adjust the gap according to your design */
  }

  .card , .member p {
    letter-spacing: 1.3px;
  } 
  footer p {
    font-size: .9rem;
  }

#becomeamember{
  background-color: var(--secondary-color);
  color: #fff;
  width: 14rem;
  height: 3rem;
  position: absolute;
  top: 0px;
  right: 0rem;

}
#youtube ,#twitter, #facebook{
  width :2rem;
  height: 2rem;
  justify-content:space-between;
}
#media {
  display:flex;
  /* padding: 5px; */
  position: absolute;
  top: 0px;
  bottom: 5px;
  right: 15rem;
}

  /* ****************************************************** */

  /* hero image */
  
   #main-image {
    border-radius: 3px;
    /* margin: 20px; */
    z-index: -1;
    width: 100%;
    /* width: 618px;
    height: 328px; */
  }
 
#spotlights  {
 color: var(--secondary-color);
}

 

}