/* large view navigation ************************************/
@media (min-width: 37.5em) {

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  #menu {
    display: none;
    /* hide hamburger button */
  }

  nav {
    max-width: 900px;
    margin: 0.7rem auto;
  }

  .navigation ul {
    margin: 0rem auto;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #fff;
  }

  .navigation a {
    display: block;
    flex: 1 1 100%;
  }

  /* ****************************************** */
  /* My code to custom site */

  h1 {
    grid-column: 1/6;
    /* text-align: left; */
    font-family: times, serif;
    font-size: 1.2rem;
    margin-left: 1.5rem;

  }

  footer {
    margin: 0;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }

  li {
    font-size: 1.1rem;
  }

  #map {
    text-align: center;
    height: 250px;
    width: 50%;
  }

  #mapdiv {
    text-align: center;
  }

  #lastModified {
    font-weight: bold;
    font-size: 1em;
  }

  #logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  #main-image {
    border-radius: 3px;
    margin: 20px;
    z-index: -1;
    width: 100%;
    /* width: 618px;
    height: 328px; */
    /* aspect-ratio: calc(618 / 328 * 100%); */

  }

  .section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* Adjust the gap according to your design */
  }

  .card {
    text-align: left;
    font-family: var(--paragraph-font);
    font-size: 2.2ex;
    width: 100%;
    /* Optional: Adjust the width based on your design */
    background-color: var(--secondary-color);
    margin: 10px;
    color: #fff;
    padding: 1rem;
  }
}