@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Koh+Santepheap&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:wght@700&display=swap");



:root {
	--header-background-color: lightblue;
	--navarea-background-color: rgb(126, 188, 208);
	--body-background-color: rgb(233, 247, 252);

	--heading-font: "Sofia", sans-serif;
	--paragraph-font: "Koh Santepheap", Helvetica, sans-serif;
	--nav-background-color: rgb(121, 138, 234);
	--nav-hover-link-color: rgb(13, 71, 92);
	--nav-hover-background-color: rgb(13, 71, 92);
	--nav-hover-color: #fff;
}

body {
	display: grid;
	grid-template: auto 1fr auto / repeat(20, 1fr);
	background-color: var(--body-background-color);
	margin: 0;
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

header {

	padding: 3px;
	grid-column: 1 / 21;
	font-family: var(--heading-font);
	background-color: var(--header-background-color);
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0;
}

#mypicture {
	border-radius: 25px;
	width: 80px;
	border: 1px solid #163384;
	box-shadow: 5px 5px 10px #6f7364;
	margin: 0;
	padding: 0;
}

/* small view navigation */
h1 {
	font-size: 1.3em;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 3px 7px 6px;
	background-color: var(--nav-hover-background-color);
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}



.navigation {
	grid-column: 1 / 21;
	text-align: center;
	padding: 0px;
	/* flex-direction: column; */
	list-style: none;
	background-color: var(--nav-hover-background-color);
	color: #fff;
}

.navigation li {
	padding: .3rem;
}

.navigation ul {
	display: none;
	padding: .5rem;
	text-align: center;
	text-decoration: none;
	list-style-type: none;
	font-size: 1.3rem;
	/* color: #fff; */
}

.navigation a {
	color: #fff;
	padding: 1rem;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open ul {
	display: block;

}


#map::before {
	content: "📍 ";
  }
  
footer {
	grid-column: 1 / 20;
	background-color:var(--navarea-background-color);

	margin: 0;
	text-align: center;
	justify-content: space-around;
	align-items: center;

}

#lastModified {
	font-weight: bold;
	font-size: .8em;
}

#mexican-flag {
	width: 50%;
}


/* img {
	border-radius: 15px;
	

} */
/* ------------------------------------- */

main {
	grid-column: 1 / 20;
	text-align: center;
}

/* ------------------------------------- */

#mexican-flag {
	width: 80px;
}

/* ------------------------------------- */

.card {
	padding: 5px;
	text-align: left;
	font-family: var(--paragraph-font);
	font-size: .9em;
}

ul {
	list-style-type: none;
}

h3 {
	background-color: var(--header-background-color);
	padding: 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-family: "Amaranth";
	text-align: center;
	font-size: 1.5em;
}

h2 {
	font-family: "Amaranth";
	font-size: 1.2em;
}

#map {
	text-align: center;
	height: 50px;
	width: 100%;
	border-color: var(--header-background-color);
}

#mapdiv {
	text-align: center;
}


#temple-label {

	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1.3rem;
	font-family: var(--heading-font), serif;
}




/* large view navigation ************************************/
@media (min-width: 37.5em) {
	h1 {
		font-size: 2.5rem;
		margin-left: 0;
		text-align: center;
	}

	h2 {
		font-size: 2rem;
		text-align: center;
	}

	#menu {
		display: none;
		/* hide hamburger button */
	}

	.navigation ul {
		flex-direction: row;
	}

	.navigation ul {
		display: flex;

	}

	/* my code */
	.navigation a {
		grid-column: 1 / 20;
		;
		margin: 0 auto;
		text-align: center;
		padding: 5px;
		flex-direction: column;
		list-style: none;
		background-color: var(--body-background-color);
		color: var(--nav-hover-link-color);
		font-size: 1.2rem;

	}

	h1 {
		font-size: 2rem;
		margin-left: 0;
		position: relative;
		left: 20px;

	}

	h2 {
		font-size: 1.5rem;

	}

	header {
		padding: 1rem;
		grid-column: 1 / 20;
		font-family: var(--heading-font);
		background-color: var(--header-background-color);
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	#header-container {
		display: flex;
	}

	#header-container:last-child {
		position: relative;
		left: 15px;
	}

	#mypicture {
		border-radius: 25px;
		width: 120px;
		border: 1px solid #163384;
		box-shadow: 5px 5px 10px #6f7364;
	}

	#map {
		text-align: center;
		height: 250px;
		width: 50%;
		border-color: var(--header-background-color);
	}

	#mapdiv {
		text-align: center;
	}

	.card {

		padding: 5px;
		text-align: left;
		font-family: var(--paragraph-font);
		font-size: 2ex;
	}

	#lastModified {
		font-weight: bold;
		font-size: 1em;
	}




	/* 2 columns in main */
	section-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		/* Adjust the gap according to your design */
	}



	.card {
		width: 100%;
		/* Optional: Adjust the width based on your design */
	}


	/*    navegacion */
	.navigation {
		grid-column: 1 / 20;
		margin: 0 auto;
		text-align: center;
		padding: 0px;
		flex-direction: column;
		list-style: none;
		background-color: var(--body-background-color);
		color: var(--nav-hover-link-color);

	}

	.navigation ul {
		/* display: none; */
		padding: 1rem;
		text-align: center;
		text-decoration: none;
		color: var(--nav-hover-link-color);
		list-style-type: none;
		font-size: 1rem;
		;

	}

	.navigation a:link,
	.navigation a:visited {
		color: var(--nav-link-color);
	}

	.navigation a:hover {
		color: var(--nav-hover-color);
		background-color: var(--nav-hover-background-color);
		border-radius: 50px;
	}

	.section-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		/* Adjust the gap according to your design */
	}

	.card {
		width: 100%;
		/* Optional: Adjust the width based on your design */
	}


	#temple-label {
		position: absolute;
		top: 50px;
		left: 120px;
		margin: 0;
		padding: .25rem;
		font-weight: 700;
		font-size: 2rem;
		font-family: var(--heading-font), serif;
		
	}
	#temple {
		position: relative;
		
	}
	option{
		padding-right : 25px;
		color : red;
		font-size: .75rem;
	}
}